{% extends 'administration/layouts/base.html' %}
{% load static %}
{% load user_tags %}
{% block content %}
<div class="tile is-child is-8">
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="notification is-danger" role="alert">
                {{message}}
            </div>
        {% endif %} 
        {% if message.tags == 'success' %}
            <div class="notification is-success" role="alert">
                {{message}}
            </div>
        {% endif %}
    {% endfor %}
    <h2 class="title" style="color: #112A46;font-weight: 700;">Modification d'un congé </h2>

    <form method="POST" action="{% url 'administration:conges_edit_go' id=conge.id %}">
        {% csrf_token %}
        <div class="columns">
            <div class="column is-4">
                <label>Intitulé <span style="color: red;">*</span>  </label>
            </div>
            {{form.name}}
        </div>
        <div class="columns">
            <div class="column is-4">
                <label>Date de début <span style="color: red;">*</span>  </label>
            </div>
            {{form.date_d}}
        </div>

        <div class="columns">
            <div class="column is-4">
                <label>Date de fin <span style="color: red;">*</span>  </label>
            </div>
            {{form.date_f}}
        </div>

        <br>

        <div class="columns">
            <div class="column is-4">
                <label>Description</label>
            </div>
            {{form.description}}
        </div>
        <div class="columns">
            <div class="column ">
                <button id="save" class="is-primary button is-small" type="submit"><span><i class="fas fa-edit"></i></span></button>
            </div>
            <div class="column">
                <a id="delete1" class=" is-danger button is-small"><span><i class="fas fa-trash"></i></span></a>
            </div>
            <div class="column">
                <a href="{% url 'administration:conges' %}" class=" is-danger button is-small">Annuler</a>
            </div>
        </div>
        <input id="id" type="hidden" >
    </form>
</div>
{% endblock %}
{% block js %} 
<script>
    dd='{{conge.date_d | date:"Y-m-d"}}'
    $('#dateDebEvent').val(dd)
    df='{{conge.date_f | date:"Y-m-d"}}'
    $('#dateEndEvent').val(df)
    $('#delete1').click(function () {
        url = "{% url 'administration:conges_delete'  id=conge.id %}"
        if (confirm('Voulez vous vraiment supprimer ce congé??')) {
            Delete(url,"conge")
        } else {
        }
    })
</script>
{% endblock %}
