{% extends 'administration/layouts/base.html' %}
{% load static %}
{% load user_tags %}
{% block content %}
<div class="tile is-child is-8">
    {% for message in messages %}
        {% if message.tags == 'error' %}
        <div class="notification is-danger" role="alert">
            {{message}}
        </div>
        {% endif %}
        {% if message.tags == 'success' %}
        <div class="notification is-success" role="alert">
            {{message}}
        </div>
        {% endif %}
    {% endfor %}
                    {% if errors %}
                        <div>
                            {% for key, error in errors %}
                                {% autoescape off %}
                                    <div class="alert alert-danger">
                                        {{ error }}
                                    </div>
                                {% endautoescape %}
                            {% endfor %}
                        </div>
                    {% endif %}
    <div class="modal " id="modal" >
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head" style="background-color: rgb(148, 207, 243);">
            <p class="modal-card-title">Nouvel Administré</p>
            <div style="display: none;" id="alert">
                <p style="color: rgb(201, 19, 19);">Tout les champs sont obligatoires</p>
            </div>
            <button class="delete" aria-label="close"></button>
          </header>
          <form action="" method="post" id="adminForm">
            <section class="modal-card-body " >
                <div class="columns">
                    <div class="column is-4">
                        <label>Nom</label>
                    </div>
                    <input class="input is-small" type="text" name="nom" id="nom" required>
                </div>
        
                <div class="columns">
                    <div class="column is-4">
                        <label>Prénom</label>
                    </div>
                    <input class="input is-small" type="text" name="prenom" id="prenom" required>
                </div>
        
                <div class="columns">
                    <div class="column is-4">
                        <label>Téléphone</label>
                    </div>
                    <input class="input is-small" type="number" name="phone" id="phone" required>
                </div>
        
                <div class="columns">
                    <div class="column is-4">
                        <label>Email</label>
                    </div>
                    <input class="input is-small" type="email" name="mail" id="mail" required>
                </div>
        
                <div class="columns">
                    <div class="column is-4">
                        <label>Adresse </label>
                    </div>
                    <input class="input is-small" type="text" name="adresse" id="adresse" required>
                </div>
            </section>
          <footer class="modal-card-foot">
            <button class="button is-primary is-small" type="button" id="addNewUser">Enregistrer</button>
            <button class="button is-danger is-small" type="reset" id="leave">Annuler</button>
            <div id="waiter" style="display: none;">
                <p style="color: rgb(33, 204, 90);">Opération en cours patienter un instant........</p>
            </div>
            
          </footer>
        </form>
        </div>
      </div>
    <form method="POST" action="{% url 'administration:rdv_add_go' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <h2 class="title" style="color: #112A46;font-weight: 700;">Ajout d'un Rendez-vous</h2>
        <div class="container" style="margin-top: 20px; margin-bottom: 30px;">
            <div class="control tile is-vertical">
                <div class="is-child tile">
                    <div class="column is-8">
                        <label>Voulez-vous un RDV téléphonique?</label>
                    </div>
                    <label class="radio">
                        {{ form.phone}}  
                    </label>
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                <label>Service</label>
            </div>
            <div class="column">
                <div class="select is-small">
                    {{form.service}}
                </div>
            </div>

            {{form.service_p}}
        </div>

        {% if request.user|has_group:"Administrateur" or request.user|has_group:"Adjoint" or request.user|has_group:"Superviseur" %}
            <div class="columns">
                <div class="column is-4">
                    <label>Responsable</label>
                </div>
                <div class="column">
                    <div class="select is-small">
                        <select name="respo" id="respo"></select>
                    </div>
                </div>
            </div>
        {% endif %}

        <div class="columns">
            <div class="column is-4">
                <label>Date de rendez-vous</label>
            </div>
            <div class="column">
                {{form.date}}
                <span style="font-size: x-small;">
                    <p>Note : l'heure du serveur précède votre heure de 1 heure.</p>
                </span>
                <span id="warningWeekend" style="color: red; font-size: small; display: none;">
                    Désolé ce service n'est pas ouvert les weekends
                </span>
                <span id="dateError" style="color: red; font-size: small;">

                </span>
            </div>
        </div>

        <div class="columns" id="creneau">

        </div>

        <div class="columns">
            <div class="column is-4">
                <label>Administré</label>
            </div>
            <div class="column">
                <div class="select is-small">
                    {{form.administre}}
                </div>
            </div>
            <div class="column">
                <a class="button is-small is-primary" id="newUser"> Nouvel Administré</a>
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                <label>Heure de début du rendez-vous</label>
            </div>
            <div class="column">
                {{form.heure}}
                <span style="font-size: x-small;">
                    <p>Note : l'heure du serveur précède votre heure de 1 heure.</p>
                </span>
            </div>
        </div>
        <div class="columns">
            <div class="column is-4">
                <label>Nombre de personne</label>
            </div>
            <div class="column">
                {{form.nombre_person}}
            </div>
        </div>

        <div class="columns">
            <div class="column is-4">
                <label>Liste des adresses</label>
            </div>
            <div class="column">
                <select class="input is-small" id="adresseI">
                    {% for rdv in adresses %}
                        <option value="{{rdv.adresseTarvaux}}">{{rdv.adresseTarvaux}}</option>
                    {% endfor %}
                </select>                    
            </div>
            
        </div>

         <div class="columns">
            <div class="column is-4">
                <label>Adresses de Travaux</label>
            </div>
            <div class="column">
                {{form.adresseTravaux}}
            </div>
        </div>


        <div class="columns">
            <div class="column is-4">
                <label>Fichier</label>
            </div>
            <div class="column">
                {{form.fichier}}<span style="display: inline"><i class="fas fa-file-import"></i></span><br />
                <span style="font-size: x-small;">
                    <p>Maintenez appuyé « Ctrl », ou « Commande (touche pomme) » sur un Mac, pour en sélectionner
                        plusieurs.</p>
                </span>
            </div>
        </div>
        <div class="columns">
            <div class="column">
                <button id="save" class="is-primary button is-small" type="submit">Enregistrer</button>
            </div>
            <div class="column">
                <a href="{% url 'administration:rdv_dashboard' %}" class=" is-danger button is-small">Annuler</a>
            </div>
        </div>
    </form>

</div>
{% endblock %}
{% block js %}
<script>
    url = "{% url 'rdv:get_creneau_ajax' %}"
    $('#inputDate').change(function () {
        val = $('#inputDate').val()
        dateChangeEvent(val, url)
    })
    $('#newUser').click(function(){
        $('#modal').addClass("is-active")
    })
    $('.delete').click(function(){
        $('#modal').removeClass("is-active")
    })
    url1 = "{% url 'administration:administre_add_ajax' %}"
    $('#addNewUser').on('click',function(){
        addAdministreJs(url1)
    })
</script>
{% if request.user|has_group:"Administrateur" or request.user|has_group:"Adjoint" or request.user|has_group:"Superviseur" %}
<script>
    url = "{% url 'administration:get_responsable_ajax_to_edit'%}"
    $('#inputService').on('change',function(){
        serviceChange(url)
    })
</script>    
{% endif %}
{% endblock %}