
{% load static %}
<html>
    <head>
        <title>URBA/Administré Connexion</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link type="text/css" rel="stylesheet" href=" {% static 'css/styles.css' %} ">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
        <link rel="icon" href=" {% static 'images/logo.png' %}" type="image/png">
    </head>
    <body id="bg" style="background-image: url('{% static 'images/bg1.jpg' %} ');">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                      {% if message.tags == 'error' %}
                          <div class="alert alert-danger" role="alert">
                              {{message}}
                          </div>
                      {% endif %}
                      {% if message.tags == 'success' %}
                          <div class="alert alert-success" role="alert">
                              {{message}}
                          </div>
                      {% endif %}
                  {% endfor %}
                </div>
            </div>
            <div class="row justify-content-center">                
                <h2 class="sub-title" style="color: #44474b;font-weight: 700;">Recupération du nom d'utilisateur et du mot de passe</h2>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 align-self-center">
                        <div class="card  col-md-12 col-sm-12 ">
                            <h5 class="card-header">Confirmez vous ces informations ??</h5>
                            <div class="card-body">
                                <form  method="POST" action="{% url 'administre:recover_final' %}" >
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-6">
                                            <label>Nom</label>
                                            <input type="text" name="nom"  readonly  class="form-control" value="{{ administre.nom }}">
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6">
                                            <label>Prénom</label>
                                            <input type="text" name="prenom"  readonly  class="form-control" value="{{ administre.prenom }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-6">
                                            <label>Téléphone</label>
                                            <input type="text" name="tel" readonly class="form-control" value="{{ administre.telephone }}">
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6">
                                            <label>Email</label>
                                            <input type="text" name="email" readonly class="form-control" value="{{ administre.email }}">
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col-md-6 col-sm-6">
                                            <input type="submit"  class="form-control btn btn-primary" value="Oui c'est moi">
                                        </div>
                                        <div class="form-group col-md-6 col-sm-6">
                                            <a href="/administration/connexion" class=" form-control btn btn-danger"> Non c'est pas moi</a>
                                        </div>
                                    </div>
                                </form>
                                <div class="row">
                                    {% if errors %}
                                        <div>
                                            {% for key, error in errors %}
                                                {% autoescape off %}
                                                    <p style="color: red;">{{ error }}</p>
                                                {% endautoescape %}
                                            {% endfor %}
                                        </div>
                                    {% endif %}
                                    {% if erreur %}
                                        <div>
                                            <p style="color: red;">{{ erreur }}</p>
                                        </div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>  
                </div>
            </div>
        </div>
        <script src="{% static 'js/jquery-3.2.1.min.js' %}" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <script src="https://use.fontawesome.com/52e2f0f325.js"></script>
    </body>
</html>